.*
rm .*
!/.gitignore
/**/target/
/restaggregator-maven-plugin/target/
/log/
/sling/
*.iml
*.ids
*.ipr
*.iws
MAPS_7_Series_Main.ids
MAPS_7_Series_Main.ipr
MAPS_7_Series_Main.iws
/lib
!/lib/tomcat*
!/lib/slf4j*
.idea
*.xml~
nohup.out
/deprecated
npm-debug.log
wercker.env
/node
/src/main/resources/dist
/src/main/resources/etc
/src/main/resources/node
/src/main/resources/node_modules

