X_MAVEN_USER=<userame>
X_MAVEN_PASSWORD=<password>
X_MAVEN_DISTRIBUTION=https://nexus.blackbelt.cloud/repository/maven-avon-maps-business-release
X_MAVEN_DOWNSTREAM_URL=https://nexus.blackbelt.cloud/repository/maven-business-maps
